server:
  port: 2333
  address: 0.0.0.0
lavalink:
  server:
    sources:
      youtube: false # Using Youtube nativly on lavalink is deprecated, disable it and use https://github.com/lavalink-devs/youtube-source instead.
    password: ${LAVALINK_SERVER_PASSWORD}
    bufferDurationMs: 225
    frameBufferDurationMs: 5000
    youtubePlaylistLoadLimit: 3
    opusEncodingQuality: 5
    resamplingQuality: MEDIUM
    trackStuckThresholdMs: 5000
    playerUpdateInterval: 3
    useSeekGhosting: true
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true
  plugins:
    - dependency: 'com.github.topi314.lavasrc:lavasrc-plugin:4.8.1' # LavaSrc - for extra sources like deezer, spotify, etc. https://github.com/topi314/LavaSrc
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'com.github.topi314.lavasearch:lavasearch-plugin:1.0.0' # https://github.com/topi314/LavaSearch
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'com.dunctebot:skybot-lavalink-plugin:1.7.0' # https://github.com/DuncteBot/skybot-lavalink-plugin
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'com.github.devoxin:lavadspx-plugin:0.0.5' # https://github.com/devoxin/LavaDSPX-Plugin
      repository: 'https://jitpack.io'
    - dependency: 'dev.lavalink.youtube:youtube-plugin:1.18.0' # https://github.com/lavalink-devs/youtube-source
      snapshot: false
    - dependency: 'com.github.topi314.lavalyrics:lavalyrics-plugin:1.1.0' # https://github.com/topi314/LavaLyrics
      repository: 'https://maven.lavalink.dev/releases'
    - dependency: 'me.duncte123:java-lyrics-plugin:1.6.6' # https://github.com/DuncteBot/java-timed-lyrics
      repository: 'https://maven.lavalink.dev/releases'
plugins:
  lyrics:
    countryCode: VN
    geniusApiKey: ${GENIUS_API_KEY}
  lavalyrics:
    sources:
      - genius
      - spotify
      - youtube
      - deezer
      - yandexMusic
  youtube:
    enabled: true
    # YouTube's cipher changes are becoming more frequent and complex, making it harder to keep up.
    # To simplify signature deciphering, you can use a remote cipher server like yt-cipher, a lightweight Deno server with a REST API. More details are available at https://github.com/kikkia/yt-cipher
    remoteCipher:
      userAgent: 'your_service_name'
      url: 'http://localhost:8001' # The base URL of your remote cipher server.
      password: 'your_secret_password' # The password to authenticate with your remote cipher server.
    oauth:
      enabled: false
      # refreshToken: "Insert your refresh token here" # For more details, please refer to https://github.com/lavalink-devs/youtube-source?tab=readme-ov-file#using-oauth-tokens
    allowSearch: true
    allowDirectVideoIds: true
    allowDirectPlaylistIds: true
    # For more details about client setup, refer to https://github.com/lavalink-devs/youtube-source?tab=readme-ov-file#available-clients
    clients:
      - 'ANDROID_MUSIC'
      - 'MUSIC'
      - 'WEB'
      - 'WEBEMBEDDED'
      - 'TVHTML5_SIMPLY'
    ANDROID_MUSIC:
      playlistLoading: false
      videoLoading: true
      searching: true
      playback: true
    MUSIC:
      playlistLoading: false
      videoLoading: false
      searching: true
      playback: false
    WEB:
      playlistLoading: false
      videoLoading: true
      searching: true
      playback: true
    WEBEMBEDDED:
      playlistLoading: false
      videoLoading: false
      searching: false
      playback: true
    TVHTML5_SIMPLY:
      playlistLoading: true
      videoLoading: false
      searching: false
      playback: true
  lavasrc:
    providers:
      - 'ytsearch:"%ISRC%"'
      - 'dzisrc:%ISRC%'

      - 'ytsearch:%QUERY%'
      - 'dzsearch:%QUERY%'
      - 'jssearch:%QUERY%'
      - 'pdsearch:%QUERY%'
      - 'scsearch:%QUERY%'
      - 'tdsearch:%QUERY%'
    sources:
      spotify: true # Enable Spotify source
      applemusic: true # Enable Apple Music source
      deezer: true # Enable Deezer source
      jiosaavn: true # Enabled JioSaavn source
      pandora: true # Enable Pandora source
      yandexmusic: true # Enable Yandex Music source
      flowerytts: true # Enable Flowery TTS source
      youtube: true # Enable YouTube search source (https://github.com/topi314/LavaSearch)
      tidal: true # Enable Tidal source
      vkmusic: true # Enable Vk Music source
      qobuz: true # Enabled qobuz source
      ytdlp: true # Enable yt-dlp source
    lyrics-sources:
      spotify: true # Enable Spotify lyrics source
      deezer: true # Enable Deezer lyrics source
      youtube: true # Enable YouTube lyrics source
      yandexmusic: true # Enable Yandex Music lyrics source
      vkmusic: true # Enable Vk Music lyrics source
      lrcLib: true # Enable LRC Library lyrics source (https://lrclib.net)
    spotify:
      # clientId & clientSecret are required for using spsearch
      # clientId: "<insert>"
      # clientSecret: "<insert>"
      # spDc: "<insert>" # the sp dc cookie used for accessing the spotify lyrics api
      preferAnonymousToken: true # Use this to generate and cache anonymous Spotify access tokens from your own endpoint, as Spotify recently updated their implementation.
      customTokenEndpoint: 'http://localhost:8080/api/token' # For more details, please refer to https://github.com/topi314/spotify-tokener
      resolveArtistsInSearch: true
      albumLoadLimit: 1 # The number of pages at 50 tracks each
      countryCode: 'VN'
      playlistLoadLimit: 1 # The number of pages at 100 tracks each
      localFiles: true

plugins:
  lavasrc:
    providers: # Custom providers for track loading. This is the default
      - 'dzisrc:%ISRC%' # If ISRC available, search on deezer
      - 'ytsearch:"%ISRC%"' # If ISRC available, search on youtube
      - 'dzsearch:%QUERY%' # Search on deezer, if no results found use the next provider
      - 'ytmsearch:%QUERY%' # If you want music.youtube results first
      - 'ytsearch:%QUERY%' # If no result found on music.youtube, search on www.youtube
      - 'scsearch:%QUERY%' # Last try to search on soundcloud.
    sources:
      spotify: true # Enable Spotify source
      applemusic: true # Enable Apple Music source
      deezer: true # Enable Deezer source
      yandexmusic: false # Enable Yandex Music source
      flowerytts: false # Enable Flowery TTS source
      youtube: true # Enable YouTube search source (https://github.com/topi314/LavaSearch)
      vkmusic: false # Enable Vk Music source
      tidal: false # Enable Tidal source
      qobuz: false # Enabled qobuz source
      ytdlp: false # Enable yt-dlp source
      jiosaavn: false # Enable JioSaavn source
    lyrics-sources:
      spotify: false # Enable Spotify lyrics source
      deezer: true # Enable Deezer lyrics source
      youtube: true # Enable YouTube lyrics source
      yandexmusic: false # Enable Yandex Music lyrics source
      vkmusic: false # Enable Vk Music lyrics source
      lrcLib: true # Enable LRC Library lyrics source (https://lrclib.net)
    spotify:
      # clientId: ${LAVASRC_SPOTIFY_CLIENT_ID}
      # clientSecret: ${LAVASRC_SPOTIFY_CLIENT_SECRET}
      # spDc: "your sp dc cookie" # the sp dc cookie used for accessing the spotify lyrics api
      countryCode: 'VN' # the country code you want to use for filtering the artists top tracks. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      playlistLoadLimit: 1 # The number of pages at 100 tracks each
      albumLoadLimit: 1 # The number of pages at 50 tracks each
      resolveArtistsInSearch: true # Whether to resolve artists in track search results (can be slow)
      localFiles: false # Enable local files support with Spotify playlists. Please note `uri` & `isrc` will be `null` & `identifier` will be `"local"`
      preferAnonymousToken: false # Whether to use the anonymous token for resolving tracks, artists and albums. Spotify generated playlists are always resolved with the anonymous tokens since they do not work otherwise. This requires the customTokenEndpoint to be set.
      # customTokenEndpoint: 'http://192.168.0.106:3012/api/token' # Optional custom endpoint for getting the anonymous token. If not set, spotify's default endpoint will be used which might not work. The response must match spotify's anonymous token response format.
    applemusic:
      countryCode: 'VN' # the country code you want to use for filtering the artists top tracks and language. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      mediaAPIToken: ${LAVASRC_APPLEMUSIC_MEDIA_API_TOKEN} # apple music api token
      playlistLoadLimit: 6 # The number of pages at 300 tracks each
      albumLoadLimit: 6 # The number of pages at 300 tracks each
    deezer:
      masterDecryptionKey: ${LAVASRC_DEEZER_MASTER_DECRYPTION_KEY} # the master key used for decrypting the deezer tracks. (yes this is not here you need to get it from somewhere else)
      arl: ${LAVASRC_DEEZER_ARL} # the arl cookie used for accessing the deezer api this is not optional anymore
      formats: ['MP3_128', 'MP3_64'] # the formats you want to use for the deezer tracks. "FLAC", "MP3_320", "MP3_256" & "AAC_64" are only available for premium users and require a valid arl
    youtube:
      countryCode: 'VN' # the country code you want to use for searching & lyrics. See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
      language: 'vi' # the language code you want to use for searching & lyrics. See https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes

youtube:
  clients:
    - TVHTML5EMBEDDED
    - ANDROID_VR
    - WEB_REMIX
    - WEB

logging:
  file:
    max-history: 30
    max-size: 1GB

  level:
    root: INFO
    lavalink: INFO
    com.github.topi314.lavasrc: DEBUG

  request:
    enabled: true
    includeClientInfo: true
    includeHeaders: false
    includeQueryString: true
    includePayload: true
    maxPayloadLength: 10000
